In [50]:
import pandas as pd
import numpy as np
import dask.dataframe as dd
import geopandas as gpd

import warnings
warnings.filterwarnings("ignore")

In [5]:
# file path to raw data 
file_path = 'raw data/pp-complete.csv'

# define columns names
# define column names 
column_names = ['transaction_id','price','transfer_date',
              'postcode', 'property_type','new_build_flag',
              'duration','primary_address', 'secondary_address',
              'street','locality','city','district',
              'country','ppd_category','record_status']

# specify data types
dtypes = dict.fromkeys(column_names, 'string')
dtypes.update({'price': 'int64'})

# specify dates to parse
parse_dates = ['transfer_date']

# define columns to keep
usecols = [col for col in column_names if col != 'transaction_id']

ddf = dd.read_csv(file_path, header=None, names=column_names, dtype=dtypes, parse_dates=parse_dates, usecols=usecols)

In [6]:
# compute ddf to pandas dataframe
raw_data_df = ddf.compute()

In [7]:
# postcode = null
raw_data_df[raw_data_df['postcode'].isnull()]

,price,transfer_date,postcode,property_type,new_build_flag,duration,primary_address,secondary_address,street,locality,city,district,country,ppd_category,record_status
2017,155000,1995-08-31,<NA>,T,N,F,46,UNITS 1 AND 2,HIGH STREET,TARPORLEY,TARPORLEY,VALE ROYAL,CHESHIRE,A,A
2999,60000,1995-10-16,<NA>,D,N,F,3,<NA>,PILGRIMS LANE,CHILHAM,CANTERBURY,ASHFORD,KENT,A,A
4873,19500,1995-05-03,<NA>,D,N,F,82,<NA>,BROOKSBY LANE,CLIFTON,NOTTINGHAM,NOTTINGHAM,NOTTINGHAMSHIRE,A,A
9047,32000,1995-10-13,<NA>,T,N,F,65,<NA>,PENVENTON TERRACE,FOUR LANES,REDRUTH,KERRIER,CORNWALL,A,A
10615,23500,1995-04-03,<NA>,D,N,F,LAND ON THE NORTH WESTERN SIDE OF,<NA>,WOODBOROUGH ROAD,MAPPERLEY,NOTTINGHAM,NOTTINGHAM,NOTTINGHAMSHIRE,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364168,350000,2024-01-10,<NA>,O,N,F,WHEAL GREY,<NA>,TRESOWES,ASHTON,HELSTON,CORNWALL,CORNWALL,B,A
364183,141000,2024-01-10,<NA>,O,N,L,SITE 7,<NA>,WILLOWHOLME INDUSTRIAL ESTATE,<NA>,CARLISLE,CUMBERLAND,CUMBERLAND,B,A
364208,173500,2024-01-15,<NA>,O,N,F,GARAGE,<NA>,BROOKSIDE AVENUE,RAINFORD,ST HELENS,ST HELENS,MERSEYSIDE,B,A
365564,7642758,2024-01-02,<NA>,O,N,F,BEAU NASH LANE,FLATS 1-2,<NA>,<NA>,TUNBRIDGE WELLS,TUNBRIDGE WELLS,KENT,B,A
365727,22121500,2024-01-09,<NA>,O,N,F,FIRSTPOINT,ZONE 5,BALBY CARR BANK,BALBY,DONCASTER,DONCASTER,SOUTH YORKSHIRE,B,A

In [8]:
# drop rows with no postcode
clean_data_df = raw_data_df.dropna(subset=['postcode'])

# drop rows with property type 'O'
clean_data_df = clean_data_df.loc[clean_data_df['property_type']!='o']

# sort by date
clean_data_df.sort_values(by=['transfer_date'], inplace=True, ignore_index=True)

In [9]:
clean_data_df.head()

,price,transfer_date,postcode,property_type,new_build_flag,duration,primary_address,secondary_address,street,locality,city,district,country,ppd_category,record_status
0,36000,1995-01-01,GL5 4LU,S,N,F,43,<NA>,MOSLEY ROAD,STROUD,STROUD,STROUD,GLOUCESTERSHIRE,A,A
1,50000,1995-01-01,CT19 6HL,S,N,F,92,<NA>,JOYES ROAD,FOLKESTONE,FOLKESTONE,SHEPWAY,KENT,A,A
2,59950,1995-01-01,NE6 4SU,S,N,F,68,<NA>,APPLETREE GARDENS,NEWCASTLE UPON TYNE,NEWCASTLE UPON TYNE,NEWCASTLE UPON TYNE,TYNE AND WEAR,A,A
3,50000,1995-01-01,BS8 1BY,T,N,F,6,<NA>,MERIDIAN VALE,BRISTOL,BRISTOL,CITY OF BRISTOL,CITY OF BRISTOL,A,A
4,11500,1995-01-01,BB9 9RQ,T,N,F,80,<NA>,FIR STREET,NELSON,NELSON,PENDLE,LANCASHIRE,A,A

In [10]:
# info 
clean_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28873213 entries, 0 to 28873212
Data columns (total 15 columns):
 #   Column             Dtype
---  ------             -----
 0   price              int64
 1   transfer_date      datetime64[ns]
 2   postcode           string
 3   property_type      string
 4   new_build_flag     string
 5   duration           string
 6   primary_address    string
 7   secondary_address  string
 8   street             string
 9   locality           string
 10  city               string
 11  district           string
 12  country            string
 13  ppd_category       string
 14  record_status      string
dtypes: datetime64[ns](1), int64(1), string(13)
memory usage: 5.1 GB

In [11]:
# postcode_sector column
clean_data_df['postcode_sector'] = clean_data_df['postcode'].apply(lambda x: x[:x.find(' ')+ 2])

In [12]:
clean_data_df.head()

,price,transfer_date,postcode,property_type,new_build_flag,duration,primary_address,secondary_address,street,locality,city,district,country,ppd_category,record_status,postcode_sector
0,36000,1995-01-01,GL5 4LU,S,N,F,43,<NA>,MOSLEY ROAD,STROUD,STROUD,STROUD,GLOUCESTERSHIRE,A,A,GL5 4
1,50000,1995-01-01,CT19 6HL,S,N,F,92,<NA>,JOYES ROAD,FOLKESTONE,FOLKESTONE,SHEPWAY,KENT,A,A,CT19 6
2,59950,1995-01-01,NE6 4SU,S,N,F,68,<NA>,APPLETREE GARDENS,NEWCASTLE UPON TYNE,NEWCASTLE UPON TYNE,NEWCASTLE UPON TYNE,TYNE AND WEAR,A,A,NE6 4
3,50000,1995-01-01,BS8 1BY,T,N,F,6,<NA>,MERIDIAN VALE,BRISTOL,BRISTOL,CITY OF BRISTOL,CITY OF BRISTOL,A,A,BS8 1
4,11500,1995-01-01,BB9 9RQ,T,N,F,80,<NA>,FIR STREET,NELSON,NELSON,PENDLE,LANCASHIRE,A,A,BB9 9

#### Add Region Column ####

In [13]:
# load regions by postcodes 
regions_df = pd.read_csv('postcode_region/postcode_areas.csv')

# create dictionary from df 
postcode_region_dict = dict(zip(regions_df['postcode_prefix'], regions_df['region']))

# Add postcode prefix column to main df
clean_data_df['postcode_prefix'] = clean_data_df['postcode'].str.extract(r'^([A-Z]+)')

# map postcode prefix to the region using the dictionary
clean_data_df['region'] = clean_data_df['postcode_prefix'].map(postcode_region_dict)

# drop the intermidiate row
clean_data_df.drop(columns=['postcode_prefix'], inplace=True)

# exclude sales in Scotland as limited data available 
clean_data_df = clean_data_df.loc[clean_data_df['region'] != 'Scotland']

#### Add Year Column ####

In [14]:
# extract year from transfer data 
clean_data_df['year'] = clean_data_df['transfer_date'].dt.year

# extract month
clean_data_df['month'] = clean_data_df['transfer_date'].dt.month

#### Create GeoJSON Files ####

##### Convert Shapefiles to GeoJSON

In [15]:
shpfile = gpd.read_file('shapefiles/Sectors.shp')
shpfile.to_file('GeoJSON/allsectors.geojson', driver='GeoJSON')

Create GeoJSON File for each Region

In [16]:
# load postcode prefix CSV
postcode_prefixes_df = pd.read_csv('postcode_region/postcode_areas.csv')

# load the geojson file containing all postcode sector boundaries
geojson_path = 'GeoJson/allsectors.geojson'

# read the geojson
postcode_sectors_gdf = gpd.read_file(geojson_path)

In [17]:
# create empty dictionary to store 
region_geojson_dict = {}

# extract postcode prefix from 'name' property within geodf
postcode_sectors_gdf['postcode_prefix'] = pd.Series(postcode_sectors_gdf['name']).str.extract(r'^([A-Z]+)')

# merge postcode prefixes df to get regions 
merged_df = pd.merge(postcode_sectors_gdf, postcode_prefixes_df, how='left', on= 'postcode_prefix')

In [23]:
# iterate over each unique region 
for region in merged_df['region'].unique():
    # filter df for the current region
    regions_df = merged_df[merged_df['region'] == region].copy()

    # create a geo df for the current region
    regions_gdf = gpd.GeoDataFrame(regions_df, geometry='geometry',crs=postcode_sectors_gdf.crs)

    # store the geo df in the dictionary under the region key
    region_geojson_dict[region] = regions_gdf

We create a nested dictionary

In [24]:
region_geojson_dict

{'Scotland':          name                                           geometry  \
 0      AB10 1  POLYGON ((-2.11645 57.14656, -2.11655 57.14663...
 1      AB10 6  MULTIPOLYGON (((-2.12239 57.12887, -2.12279 57...
 2      AB10 7  POLYGON ((-2.12239 57.12887, -2.12119 57.12972...
 3      AB11 5  POLYGON ((-2.05528 57.14547, -2.05841 57.14103...
 4      AB11 6  POLYGON ((-2.09818 57.13769, -2.09803 57.13852...
 ...       ...                                                ...
 9583    TD9 9  POLYGON ((-2.75085 55.42979, -2.74868 55.42674...
 10810   ZE1 0  MULTIPOLYGON (((-1.17282 60.12108, -1.18797 60...
 10811   ZE1 9  POLYGON ((-1.14734 60.15442, -1.14697 60.15457...
 10812   ZE2 9  MULTIPOLYGON (((-0.80210 60.40932, -0.80233 60...
 10813   ZE3 9  MULTIPOLYGON (((-1.38060 59.88701, -1.37423 59...

       postcode_prefix postcode_district    region
 0                  AB          Aberdeen  Scotland
 1                  AB          Aberdeen  Scotland
 2                  AB          Aberdeen  Scotland
 3                  AB          Aberdeen  Scotland
 4                  AB          Aberdeen  Scotland
 ...               ...               ...       ...
 9583               TD        Galashiels  Scotland
 10810              ZE          Shetland  Scotland
 10811              ZE          Shetland  Scotland
 10812              ZE          Shetland  Scotland
 10813              ZE          Shetland  Scotland

 [1133 rows x 5 columns],
 'East of England':         name                                           geometry  \
 106    AL1 1  POLYGON ((-0.32429 51.74626, -0.32244 51.74647...
 107    AL1 2  POLYGON ((-0.34993 51.73196, -0.35082 51.73246...
 108    AL1 3  POLYGON ((-0.33655 51.75520, -0.33646 51.75548...
 109    AL1 4  POLYGON ((-0.33121 51.76182, -0.33021 51.76143...
 110    AL1 5  POLYGON ((-0.32429 51.74626, -0.32465 51.74652...
 ...      ...                                                ...
 9173  SS99 5  MULTIPOLYGON (((0.72943 51.53117, 0.72917 51.5...
 9174  SS99 6  MULTIPOLYGON (((0.72869 51.53129, 0.72883 51.5...
 9175  SS99 7  MULTIPOLYGON (((0.72943 51.53116, 0.72829 51.5...
 9176  SS99 8  MULTIPOLYGON (((0.72943 51.53117, 0.72943 51.5...
 9177  SS99 9  MULTIPOLYGON (((0.72943 51.53116, 0.72943 51.5...

      postcode_prefix postcode_district           region
 106               AL        St. Albans  East of England
 107               AL        St. Albans  East of England
 108               AL        St. Albans  East of England
 109               AL        St. Albans  East of England
 110               AL        St. Albans  East of England
 ...              ...               ...              ...
 9173              SS          Southend  East of England
 9174              SS          Southend  East of England
 9175              SS          Southend  East of England
 9176              SS          Southend  East of England
 9177              SS          Southend  East of England

 [742 rows x 5 columns],
 'West Midlands':          name                                           geometry  \
 145      B1 1  POLYGON ((-1.89907 52.47484, -1.89909 52.47474...
 146      B1 2  MULTIPOLYGON (((-1.91342 52.48239, -1.91193 52...
 147      B1 3  POLYGON ((-1.91490 52.48157, -1.91487 52.48247...
 148     B10 0  POLYGON ((-1.87677 52.47066, -1.87620 52.47145...
 149     B10 9  POLYGON ((-1.83249 52.47341, -1.83144 52.47315...
 ...       ...                                                ...
 10687   WV8 1  POLYGON ((-2.15213 52.62050, -2.15156 52.62022...
 10688   WV8 2  POLYGON ((-2.19342 52.62509, -2.19326 52.62493...
 10689   WV9 5  POLYGON ((-2.14229 52.66987, -2.12863 52.66775...
 10690  WV98 1  POLYGON ((-2.23773 52.36479, -2.23764 52.36467...
 10691  WV99 1  POLYGON ((-2.42130 52.66635, -2.42343 52.66652...

       postcode_prefix postcode_district         region
 145                 B        Birmingham  West Midlands
 146                 B        Birmingham  West Midlands
 147                 B        Birmingham  West Midlands
 148                 B        Birmingham  West Midlands
 149                 B        Birmingham  West Midlands
 ...               ...               ...            ...
 10687              WV     Wolverhampton  West Midlands
 10688              WV     Wolverhampton  West Midlands
 10689              WV     Wolverhampton  West Midlands
 10690              WV     Wolverhampton  West Midlands
 10691              WV     Wolverhampton  West Midlands

 [847 rows x 5 columns],
 'South West':        name                                           geometry  \
 408   BA1 0  MULTIPOLYGON (((-2.35511 51.37825, -2.35608 51...
 409   BA1 1  POLYGON ((-2.35927 51.38272, -2.35965 51.38261...
 410   BA1 2  MULTIPOLYGON (((-2.36248 51.38144, -2.36252 51...
 411   BA1 3  POLYGON ((-2.38793 51.38923, -2.38629 51.38831...
 412   BA1 4  POLYGON ((-2.38793 51.38923, -2.38800 51.38929...
 ...     ...                                                ...
 9861  TR7 3  POLYGON ((-5.05740 50.40931, -5.05808 50.40957...
 9862  TR7 9  POLYGON ((-5.07956 50.41460, -5.07958 50.41406...
 9863  TR8 4  POLYGON ((-5.04382 50.47867, -5.03696 50.47764...
 9864  TR8 5  MULTIPOLYGON (((-5.11956 50.40704, -5.11710 50...
 9865  TR9 6  POLYGON ((-4.96633 50.38799, -4.96660 50.39253...

      postcode_prefix postcode_district      region
 408               BA              Bath  South West
 409               BA              Bath  South West
 410               BA              Bath  South West
 411               BA              Bath  South West
 412               BA              Bath  South West
 ...              ...               ...         ...
 9861              TR             Truro  South West
 9862              TR             Truro  South West
 9863              TR             Truro  South West
 9864              TR             Truro  South West
 9865              TR             Truro  South West

 [1042 rows x 5 columns],
 'North West':         name                                           geometry  \
 487    BB1 1  POLYGON ((-2.45445 53.74817, -2.45441 53.74764...
 488    BB1 2  POLYGON ((-2.43703 53.71363, -2.43964 53.71543...
 489    BB1 3  POLYGON ((-2.44590 53.75663, -2.43731 53.75397...
 490    BB1 4  POLYGON ((-2.42184 53.78012, -2.41863 53.77974...
 491    BB1 5  POLYGON ((-2.47345 53.75584, -2.47282 53.75642...
 ...      ...                                                ...
 10519  WN8 1  POLYGON ((-2.77698 53.54495, -2.78047 53.54365...
 10520  WN8 6  POLYGON ((-2.78479 53.54848, -2.78574 53.54961...
 10521  WN8 7  POLYGON ((-2.73866 53.58195, -2.73108 53.58037...
 10522  WN8 8  POLYGON ((-2.78479 53.54848, -2.78414 53.54822...
 10523  WN8 9  POLYGON ((-2.78148 53.52960, -2.78983 53.53263...

       postcode_prefix postcode_district      region
 487                BB         Blackburn  North West
 488                BB         Blackburn  North West
 489                BB         Blackburn  North West
 490                BB         Blackburn  North West
 491                BB         Blackburn  North West
 ...               ...               ...         ...
 10519              WN             Wigan  North West
 10520              WN             Wigan  North West
 10521              WN             Wigan  North West
 10522              WN             Wigan  North West
 10523              WN             Wigan  North West

 [1768 rows x 5 columns],
 'South East':        name                                           geometry  \
 825   BN1 1  POLYGON ((-0.14575 50.81699, -0.14562 50.81729...
 826   BN1 2  POLYGON ((-0.15572 50.81867, -0.15519 50.82145...
 827   BN1 3  POLYGON ((-0.14556 50.83267, -0.14473 50.83309...
 828   BN1 4  POLYGON ((-0.14047 50.82718, -0.14066 50.82731...
 829   BN1 5  POLYGON ((-0.14556 50.83267, -0.14600 50.83303...
 ...     ...                                                ...
 9745  TN8 7  POLYGON ((0.11314 51.15575, 0.11310 51.15494, ...
 9746  TN8 9  POLYGON ((0.06467 51.19776, 0.06448 51.19758, ...
 9747  TN9 1  POLYGON ((0.29273 51.19167, 0.29534 51.18947, ...
 9748  TN9 2  POLYGON ((0.25407 51.18042, 0.25150 51.17867, ...
 9749  TN9 9  POLYGON ((0.28640 51.19000, 0.28617 51.19048, ...

      postcode_prefix postcode_district      region
 825               BN          Brighton  South East
 826               BN          Brighton  South East
 827               BN          Brighton  South East
 828               BN          Brighton  South East
 829               BN          Brighton  South East
 ...              ...               ...         ...
 9745              TN         Tonbridge  South East
 9746              TN         Tonbridge  South East
 9747              TN         Tonbridge  South East
 9748              TN         Tonbridge  South East
 9749              TN         Tonbridge  South East

 [1305 rows x 5 columns],
 'Greater London':          name                                           geometry  \
 952     BR1 1  POLYGON ((0.01935 51.40185, 0.01995 51.40159, ...
 953     BR1 2  POLYGON ((0.05121 51.40747, 0.05136 51.40681, ...
 954     BR1 3  POLYGON ((0.03373 51.40706, 0.03380 51.40664, ...
 955     BR1 4  POLYGON ((0.00560 51.42507, 0.00593 51.42529, ...
 956     BR1 5  MULTIPOLYGON (((0.02054 51.43193, 0.02073 51.4...
 ...       ...                                                ...
 10409   WD7 0  POLYGON ((-0.31670 51.68315, -0.31683 51.68289...
 10410   WD7 7  POLYGON ((-0.32419 51.69220, -0.32466 51.69248...
 10411   WD7 8  POLYGON ((-0.32419 51.69220, -0.32402 51.69183...
 10412   WD7 9  POLYGON ((-0.27127 51.68083, -0.27123 51.68075...
 10413  WD99 1  POLYGON ((-0.42323 51.64814, -0.42404 51.64906...

       postcode_prefix postcode_district          region
 952                BR           Bromley  Greater London
 953                BR           Bromley  Greater London
 954                BR           Bromley  Greater London
 955                BR           Bromley  Greater London
 956                BR           Bromley  Greater London
 ...               ...               ...             ...
 10409              WD           Watford  Greater London
 10410              WD           Watford  Greater London
 10411              WD           Watford  Greater London
 10412              WD           Watford  Greater London
 10413              WD           Watford  Greater London

 [1505 rows x 5 columns],
 'Wales':         name                                           geometry  \
 1296  CF10 1  POLYGON ((-3.17360 51.47821, -3.17325 51.47790...
 1297  CF10 2  MULTIPOLYGON (((-3.17360 51.47821, -3.17462 51...
 1298  CF10 3  POLYGON ((-3.17198 51.48366, -3.17272 51.48331...
 1299  CF10 4  POLYGON ((-3.16275 51.46570, -3.16353 51.46561...
 1300  CF10 5  MULTIPOLYGON (((-3.17594 51.45885, -3.17595 51...
 ...      ...                                                ...
 9482   SY8 3  POLYGON ((-2.66646 52.36591, -2.67824 52.37400...
 9483   SY8 4  POLYGON ((-2.62487 52.30728, -2.63043 52.30653...
 9484   SY8 9  POLYGON ((-2.69640 52.36826, -2.69811 52.36802...
 9485   SY9 5  POLYGON ((-2.93410 52.54920, -2.92429 52.55133...
 9486  SY99 8  POLYGON ((-2.74995 52.71210, -2.75105 52.71220...

      postcode_prefix postcode_district region
 1296              CF           Cardiff  Wales
 1297              CF           Cardiff  Wales
 1298              CF           Cardiff  Wales
 1299              CF           Cardiff  Wales
 1300              CF           Cardiff  Wales
 ...              ...               ...    ...
 9482              SY        Shrewsbury  Wales
 9483              SY        Shrewsbury  Wales
 9484              SY        Shrewsbury  Wales
 9485              SY        Shrewsbury  Wales
 9486              SY        Shrewsbury  Wales

 [630 rows x 5 columns],
 'East Midlands':        name                                           geometry  \
 2220  DE1 0  POLYGON ((-1.46549 52.91480, -1.46583 52.91480...
 2221  DE1 1  MULTIPOLYGON (((-1.49103 52.92531, -1.49083 52...
 2222  DE1 2  POLYGON ((-1.46591 52.91169, -1.46602 52.91163...
 2223  DE1 3  MULTIPOLYGON (((-1.49170 52.92711, -1.49211 52...
 2224  DE1 9  MULTIPOLYGON (((-1.57823 52.87066, -1.57961 52...
 ...     ...                                                ...
 8265  S98 1  MULTIPOLYGON (((-1.43099 53.40430, -1.43088 53...
 8266  S98 6  POLYGON ((-1.46265 53.38163, -1.46249 53.38145...
 8267  S99 1  POLYGON ((-1.42914 53.40273, -1.42935 53.40267...
 8268  S99 2  MULTIPOLYGON (((-1.43089 53.40391, -1.43116 53...
 8269  S99 3  POLYGON ((-1.43100 53.40429, -1.43101 53.40429...

      postcode_prefix postcode_district         region
 2220              DE             Derby  East Midlands
 2221              DE             Derby  East Midlands
 2222              DE             Derby  East Midlands
 2223              DE             Derby  East Midlands
 2224              DE             Derby  East Midlands
 ...              ...               ...            ...
 8265               S         Sheffield  East Midlands
 8266               S         Sheffield  East Midlands
 8267               S         Sheffield  East Midlands
 8268               S         Sheffield  East Midlands
 8269               S         Sheffield  East Midlands

 [792 rows x 5 columns],
 'North East':          name                                           geometry  \
 2357    DH1 1  POLYGON ((-1.55520 54.78006, -1.55531 54.77993...
 2358    DH1 2  POLYGON ((-1.55520 54.78006, -1.55464 54.78019...
 2359    DH1 3  POLYGON ((-1.60609 54.76668, -1.60381 54.76832...
 2360    DH1 4  POLYGON ((-1.62170 54.78679, -1.62247 54.78739...
 2361    DH1 5  POLYGON ((-1.62273 54.80595, -1.62332 54.80767...
 ...       ...                                                ...
 10805   YO8 6  POLYGON ((-0.90757 53.79012, -0.90091 53.78635...
 10806   YO8 8  POLYGON ((-1.05340 53.78287, -1.05062 53.78219...
 10807   YO8 9  POLYGON ((-1.13364 53.78450, -1.12055 53.77998...
 10808  YO90 1  MULTIPOLYGON (((-1.08958 53.95931, -1.08891 53...
 10809  YO91 1  POLYGON ((-1.06530 53.97796, -1.06634 53.97830...

       postcode_prefix postcode_district      region
 2357               DH            Durham  North East
 2358               DH            Durham  North East
 2359               DH            Durham  North East
 2360               DH            Durham  North East
 2361               DH            Durham  North East
 ...               ...               ...         ...
 10805              YO              York  North East
 10806              YO              York  North East
 10807              YO              York  North East
 10808              YO              York  North East
 10809              YO              York  North East

 [908 rows x 5 columns],
 'East England':        name                                           geometry  \
 7238  PE1 1  POLYGON ((-0.23785 52.57732, -0.23730 52.57691...
 7239  PE1 2  MULTIPOLYGON (((-0.24948 52.59020, -0.24929 52...
 7240  PE1 3  POLYGON ((-0.24948 52.59020, -0.25004 52.59052...
 7241  PE1 4  POLYGON ((-0.21524 52.58909, -0.21613 52.58943...
 7242  PE1 5  POLYGON ((-0.21524 52.58909, -0.21386 52.59030...
 ...     ...                                                ...
 7375  PE9 1  POLYGON ((-0.49609 52.65722, -0.49617 52.65733...
 7376  PE9 2  POLYGON ((-0.51436 52.65164, -0.51274 52.65597...
 7377  PE9 3  POLYGON ((-0.51436 52.65164, -0.51227 52.65106...
 7378  PE9 4  POLYGON ((-0.38126 52.65034, -0.38583 52.65018...
 7379  PE9 9  POLYGON ((-0.28657 52.61349, -0.28657 52.61349...

      postcode_prefix postcode_district        region
 7238              PE      Peterborough  East England
 7239              PE      Peterborough  East England
 7240              PE      Peterborough  East England
 7241              PE      Peterborough  East England
 7242              PE      Peterborough  East England
 ...              ...               ...           ...
 7375              PE      Peterborough  East England
 7376              PE      Peterborough  East England
 7377              PE      Peterborough  East England
 7378              PE      Peterborough  East England
 7379              PE      Peterborough  East England

 [142 rows x 5 columns]}

In [25]:
region_geojson_dict['East England']

,name,geometry,postcode_prefix,postcode_district,region
7238,PE1 1,"POLYGON ((-0.23785 52.57732, -0.23730 52.57691...",PE,Peterborough,East England
7239,PE1 2,"MULTIPOLYGON (((-0.24948 52.59020, -0.24929 52...",PE,Peterborough,East England
7240,PE1 3,"POLYGON ((-0.24948 52.59020, -0.25004 52.59052...",PE,Peterborough,East England
7241,PE1 4,"POLYGON ((-0.21524 52.58909, -0.21613 52.58943...",PE,Peterborough,East England
7242,PE1 5,"POLYGON ((-0.21524 52.58909, -0.21386 52.59030...",PE,Peterborough,East England
...,...,...,...,...,...
7375,PE9 1,"POLYGON ((-0.49609 52.65722, -0.49617 52.65733...",PE,Peterborough,East England
7376,PE9 2,"POLYGON ((-0.51436 52.65164, -0.51274 52.65597...",PE,Peterborough,East England
7377,PE9 3,"POLYGON ((-0.51436 52.65164, -0.51227 52.65106...",PE,Peterborough,East England
7378,PE9 4,"POLYGON ((-0.38126 52.65034, -0.38583 52.65018...",PE,Peterborough,East England
7379,PE9 9,"POLYGON ((-0.28657 52.61349, -0.28657 52.61349...",PE,Peterborough,East England

Export the GeoJSON Files

In [26]:
for region, regions_gdf in region_geojson_dict.items():
    region_geojson_path = f'GeoJSON/regions/{region}_postcode_sectors.geojson'
    regions_gdf.to_file(region_geojson_path, driver='GeoJSON')

Process Data

Calculate average price for each postcode by year

In [27]:
# group by region, postcode sector and year then calculate avg price 
grouped_df = clean_data_df.groupby(['region','postcode_sector','year']).agg({'price': ['mean', 'count']}).reset_index()

grouped_df.columns = ['region','postcode_sector','year','avg_price','volume']

# round the avg price to nearest thousand and convert to int
grouped_df['avg_price'] = grouped_df['avg_price'].round(-3).astype(int)

In [28]:
grouped_df.head()

         region postcode_sector  year  avg_price  volume
0  East England           PE1 1  1995      46000      11
1  East England           PE1 1  1996      39000      10
2  East England           PE1 1  1997      52000      15
3  East England           PE1 1  1998      49000      21
4  East England           PE1 1  1999      77000      20

In [30]:
# loop though each unique year and save CSV for each
for year in grouped_df['year'].unique():
    # filter df for current year
    year_df = grouped_df[grouped_df['year'] == year]

    # create file path for current year CSV 
    csv_file_path = f'processed_data/average_price_by_year/region_data_{year}.csv'

    # save the df to csv 
    year_df.to_csv(csv_file_path, index=False)

Calculate average price for each region by year

In [32]:
# group by year, region, property type and calculate average price
region_grouped_df = clean_data_df.groupby(['year','region','property_type']).agg(avg_price=('price','mean')).round({'avg_price': -3}).astype({'avg_price': int}).reset_index()

# calculate sales volume for each group
region_grouped_df['volume'] = clean_data_df.groupby(['year','region','property_type']).size().reset_index(name='volume')['volume']

In [33]:
region_grouped_df.head()

   year         region property_type  avg_price  volume
0  1995   East England             D      72000    6173
1  1995   East England             F      34000     598
2  1995   East England             S      45000    4092
3  1995   East England             T      37000    3131
4  1995  East Midlands             D      78000   21596

In [34]:
# save df to csv file 
region_avg_csv_file_path = 'processed_data/region_avg_price/region_avg_prices.csv'

region_grouped_df.to_csv(region_avg_csv_file_path, index=False)

Calculate delta % year-on-year

In [35]:
# group by region and postcode sector, then calculate delta
delta_df = grouped_df.copy()
delta_df['delta'] = grouped_df.groupby(['region','postcode_sector'])['avg_price'].pct_change() * 100

# set the delta to 0 for first year
delta_df.loc[delta_df['year'] == delta_df['year'].min(), 'delta'] = 0

In [36]:
delta_df.head()

         region postcode_sector  year  avg_price  volume      delta
0  East England           PE1 1  1995      46000      11   0.000000
1  East England           PE1 1  1996      39000      10 -15.217391
2  East England           PE1 1  1997      52000      15  33.333333
3  East England           PE1 1  1998      49000      21  -5.769231
4  East England           PE1 1  1999      77000      20  57.142857

In [48]:
delta_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 240555 entries, 0 to 241424
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   region           240555 non-null  object
 1   postcode_sector  240555 non-null  object
 2   year             240555 non-null  int32
 3   avg_price        240555 non-null  int32
 4   volume           240555 non-null  int64
 5   delta            240555 non-null  float64
dtypes: float64(1), int32(2), int64(1), object(2)
memory usage: 11.0+ MB

In [51]:
# drop any rows with a null delta
delta_df = delta_df.dropna(subset=['delta'])

# Fill non-finite values with 0
delta_df['delta'] = delta_df['delta'].replace([np.inf, -np.inf, np.nan], 0)

# round values to nearest int
delta_df['delta'] = delta_df['delta'].round().astype(int)

In [52]:
delta_df.head()

         region postcode_sector  year  avg_price  volume  delta
0  East England           PE1 1  1995      46000      11      0
1  East England           PE1 1  1996      39000      10    -15
2  East England           PE1 1  1997      52000      15     33
3  East England           PE1 1  1998      49000      21     -6
4  East England           PE1 1  1999      77000      20     57

In [61]:
# iterate over each year and create a csv for each
for year in delta_df['year'].unique():
    # filter rows for the current year
    year_df = delta_df[delta_df['year'] == year]

    # create csv for the current year 
    csv_file_path = f'processed_data/avg_price_delta/avg_prices_delta_{year}.csv'
    year_df.to_csv(csv_file_path, index=False)

In [62]:
delta_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 240555 entries, 0 to 241424
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   region           240555 non-null  object
 1   postcode_sector  240555 non-null  object
 2   year             240555 non-null  int32
 3   avg_price        240555 non-null  int32
 4   volume           240555 non-null  int64
 5   delta            240555 non-null  int32
dtypes: int32(3), int64(1), object(2)
memory usage: 10.1+ MB

Create volume by month for each year

In [63]:
# group by region, postcode_sector, year and month then calculate count of sales
volume_df = clean_data_df.groupby(['region','postcode_sector','year','month']).agg({'price':'count'}).reset_index()

# rename volumes for clarity
volume_df.columns = ['regions','postcode_sector','year','month','volume']

In [65]:
# loop throug each year and create separate csvs
for year in volume_df['year'].unique():
    # filter df for current year
    year_df = volume_df[volume_df['year'] == year]

    # group by region, month then calculate volume
    total_volume_df = year_df.groupby(['regions','month']).agg({'volume':'sum'}).reset_index()

    # create csv from df 
    csv_file_path = f'processed_data/volume_by_year/region_total_volume_{year}.csv'
    total_volume_df.to_csv(csv_file_path, index=False)